.root {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-light);
}

.logo {
  width: 72px;
  position: absolute;
  top: 100px;
  left: 130px;
}

.contentContainer {
  position: absolute;
  left: 130px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
}

.subtitle {
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  font-size: var(--subtitle-font-size);
}

.button {
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  width: max-content;
  padding: 23px 85px;
  background-color: rgba(0, 0, 0, 0);
  border: black solid 5px;
  border-radius: 15px;
  transition: background-color 0.05s ease;
}

.button:hover {
  background-color: var(--primary-dark);
  cursor: pointer;
  transition: background-color 0.04s ease;
}

.graphic {
  position: absolute;
  height: 600px;
  right: 120px;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
