.layout {
  padding: 50px 80px 100px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  justify-content: center;
  height: calc(100% - 150px);
}

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.heading {
  font-family: var(--page-heading-font-family);
  font-weight: var(--page-heading-font-weight);
  font-size: var(--page-heading-font-size);
  margin: 0;
}

.subheading {
  font-family: var(--subtitle-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  margin: 0;
}

.questionsLayout {
  padding: 50px 80px 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.label {
  font-family: var(--subtitle-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.textInput {
  min-width: 600px;
  width: 90%;
  height: 150px;
  border-radius: 30px;
  padding: 20px;
  resize: none;
  border: none;
  outline: none;
  background-color: rgba(250, 226, 141, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
}

.button {
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  height: max-content;
  width: max-content;
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
  padding: 13px 40px;
  background-color: rgba(0, 0, 0, 0);
  border: black solid 5px;
  border-radius: 15px;
  transition: background-color 0.05s ease;
}

.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.05s ease;
}

.fetchLayout {
  height: 100%;
  display: flex;
  align-items: center;
}

.imgDog {
  position: relative;
  top: 60px;
  width: 250px;
}
