.layout {
  padding: 50px 80px 100px;
  display: grid;
  grid-template-rows: auto;
  gap: 35px;
}

.heading {
  font-family: var(--page-heading-font-family);
  font-weight: var(--page-heading-font-weight);
  font-size: var(--page-heading-font-size);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 50px;
}
