.title {
  font-family: var(--page-heading-font-family);
  font-weight: var(--page-heading-font-weight);
  font-size: var(--page-heading-font-size);
  text-align: center;
}

.skillSection {
  max-width: 750px;
  padding: 30px 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  font-family: var(--page-subheading-font-family);
  font-weight: var(--page-subheading-font-weight);
  font-size: var(--page-subheading-font-size);
}

.divider {
  width: 100%;
}

.text {
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  margin: 0px;
}

.listLayout {
  display: flex;
  gap: 20px 80px;
  flex-wrap: wrap;
}

.listItem {
  width: 40%;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
}
